ul li {
  display: flex;
  /* background: #eee; */
  background: #FFF;
  padding: 15px;
  line-height: 1.6;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

h3 {
  /* font-weight: normal; */
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  margin: 0;
}
.voteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.vote-button {
  cursor: pointer;
  color: #666;
}
.vote-button:hover {
  color: #000;
}
.vote-button.voted:hover {
  color: unset;
}
.vote-button.up.voted {
  color: rgb(0, 132, 255);
}
.vote-button.down.voted {
  color: red;
}
.vote-button.hidden {
  /* display: hidden !important; */
  /* opacity: 0; */
  /* cursor: unset; */
}

.delete-button {
  color: #666;
  cursor: pointer;
}
.delete-button:hover {
  color: #000;
}